html {
  font-size: 16px; /* 1rem = 16px */
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ffe6f0, #fff0f5);
  color: #333;
  text-align: center;
}

header {
  background: #ffb6c1;
  padding: 25px;
  border-bottom: 4px solid #ff99aa;
}

header h1 {
  margin: 0;
  color: #fff;
  font-size: 2rem;
}

header p {
  margin: 5px 0 0;
  color: #fff;
  font-style: italic;
}

.imagen img {
  width: 10%;   
  height: auto;   

}

/* cajas con medidas relativas */
.cajas {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 30px auto;
}

.caja1 {
  width: 18em;
  height: 9em;
  background: #ffc0cb;
  font-size: 1.2em;
  line-height: 9em;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.caja2 {
  width: 15rem;
  height: 6rem;
  background: #ff99cc;
  font-size: 1.4rem;
  line-height: 6rem;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.caja3 {
  width: 40%;
  height: 200px;
  background: #ff80bf;
  font-size: 120%;
  line-height: 200px;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.texto {
  font-size: 1.2rem;
  margin: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #663366;
}

footer {
  background: #ffb6c1;
  padding: 15px;
  font-size: 0.9rem;
  color: #fff;
}
