/* Paleta pastel rosada */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ffe6f0, #fff0f5);
  color: #333;
  text-align: center;
}

header {
  background: #ffb6c1;
  padding: 25px;
  border-bottom: 4px solid #ff99aa;
}

header h1 {
  margin: 0;
  color: #fff;
  font-size: 28px;
}

header p {
  margin: 5px 0 0;
  color: #fff;
  font-style: italic;
}

.imagen img {
  width: 10%;   
  height: auto;   

}

.cajas {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 30px auto;
}

.caja1 {
  width: 220px;
  height: 120px;
  background: #ffc0cb;
  font-size: 18px;
  line-height: 120px;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.caja2 {
  width: 6cm;
  height: 3.5cm;
  background: #ff99cc;
  font-size: 18px;
  line-height: 3.5cm;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.caja3 {
  width: 2.5in;
  height: 1.5in;
  background: #ff80bf;
  font-size: 18px;
  line-height: 1.5in;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.texto {
  font-size: 14pt;
  margin: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #663366;
}

footer {
  background: #ffb6c1;
  padding: 15px;
  font-size: 14px;
  color: #fff;
}
